asl_financial.json
{
  "Comment": "Gestao financeira IMOB Atacado - ingestao, enriquecimento e regras PF/PJ",
  "StartAt": "LoadActiveContracts",
  "States": {
    "LoadActiveContracts": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:load-active-contracts",
      "ResultPath": "$.contracts",
      "Next": "ProcessContracts"
    },
    "ProcessContracts": {
      "Type": "Map",
      "ItemsPath": "$.contracts.items",
      "MaxConcurrency": 50,
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "Step2Parallel",
        "States": {
          "Step2Parallel": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "LoadTransactions",
                "States": {
                  "LoadTransactions": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:load-transactions",
                    "ResultPath": "$.transactions",
                    "End": true
                  }
                }
              },
              {
                "StartAt": "LoadEconomicGroup",
                "States": {
                  "LoadEconomicGroup": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:load-economic-group",
                    "ResultPath": "$.economicGroup",
                    "End": true
                  }
                }
              },
              {
                "StartAt": "LoadStakeholders",
                "States": {
                  "LoadStakeholders": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:load-stakeholders",
                    "ResultPath": "$.stakeholders",
                    "End": true
                  }
                }
              }
            ],
            "Next": "CheckHasTransactions"
          },
          "CheckHasTransactions": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.transactions.hasTransactions",
                "BooleanEquals": true,
                "Next": "ProcessTransactions"
              }
            ],
            "Default": "SkipContract"
          },
          "SkipContract": {
            "Type": "Pass",
            "End": true
          },
          "ProcessTransactions": {
            "Type": "Map",
            "ItemsPath": "$.transactions.items",
            "MaxConcurrency": 100,
            "ItemProcessor": {
              "ProcessorConfig": { "Mode": "INLINE" },
              "StartAt": "CheckCounterpartyType",
              "States": {
                "CheckCounterpartyType": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.counterpartyType",
                      "StringEquals": "FISICA",
                      "Next": "ProcessRulesPF"
                    },
                    {
                      "Variable": "$.counterpartyType",
                      "StringEquals": "JURIDICA",
                      "Next": "Step3Parallel"
                    }
                  ],
                  "Default": "ProcessRulesPF"
                },
                "ProcessRulesPF": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:process-rules-pf",
                  "End": true
                },
                "Step3Parallel": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "FetchExternalCorporate",
                      "States": {
                        "FetchExternalCorporate": {
                          "Type": "Task",
                          "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:fetch-external-corporate",
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "FetchInternalEconomicGroup",
                      "States": {
                        "FetchInternalEconomicGroup": {
                          "Type": "Task",
                          "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:fetch-internal-economic-group",
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "FetchCNAE",
                      "States": {
                        "FetchCNAE": {
                          "Type": "Task",
                          "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:fetch-cnae",
                          "End": true
                        }
                      }
                    }
                  ],
                  "Next": "ProcessRulesPJ"
                },
                "ProcessRulesPJ": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:process-rules-pj",
                  "End": true
                }
              }
            },
            "End": true
          }
        }
      },
      "End": true
    }
  }
}